@import "../../variables.scss";

form {
    width: 100%;
}

.mat-form-field {
    display: block;
    margin-bottom: 1.5em;
}

.cta {
    background: #7700FF;
    border: none;
    color: white;
    margin-top: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $primary-font;
    letter-spacing: 1px;
}