<h1>Contact us</h1>

<mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile>
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

            <h5 *ngIf="success">Your form is valid!</h5>
        
            <mat-form-field>
                <input matInput type="text" formControlName="name" placeholder="Name" >
                <mat-hint *ngIf="submitted && messageForm.controls.name.errors" >
                    <span *ngIf="messageForm.controls.name.errors.required">Required</span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" formControlName="email" placeholder="Email Address" >
                <mat-hint *ngIf="submitted && messageForm.controls.email.errors" >
                    <span *ngIf="messageForm.controls.email.errors.required">Required</span>
                </mat-hint>
            </mat-form-field>
        
            <mat-form-field>
                <textarea  
                    matInput 
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" 
                    formControlName="message" 
                    placeholder="Message"></textarea>
                <mat-hint *ngIf="submitted && messageForm.controls.message.errors">
                    <span *ngIf="messageForm.controls.message.errors.required">Required</span>
                </mat-hint>
            </mat-form-field>
        
            <button class="cta" type="submit" mat-raised-button>Send Message</button>
            <!-- <input type="submit" value="Send message" class="cta"> -->
            
        </form>
    </mat-grid-tile>
</mat-grid-list>
