@import "../../variables.scss";

header {
    background: $primary;
    position: sticky;
    z-index: 2;
    top: 0;
    right: 0; 
    left: 0;

    div.container {
        nav {
            justify-self: right;
        
            ul {
                list-style-type: none;
                margin: 0; padding: 0;
    
                li {
                    float: left;
    
                    a {
                        padding: 1.5em;
                        text-transform: uppercase;
                        font-size: .8em;
    
                        &:hover {
                            background: $primary-hover;
                        }
                    }
                }
            }
        }
    }
}