header {
    background: #7700FF;
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;

    div.container {
        p {
            margin: 0;
            padding: 0;
            height: 0;
            width: 0;
        }
        nav {
            justify-self: right;
        
            ul {
                list-style-type: none;
                margin: 0; padding: 0;
    
                li {
                    float: left;
    
                    a {
                        padding: 1.5em;
                        text-transform: uppercase;
                        font-size: .8em;
    
                        &:hover {
                            background: #8E2BFF;
                        }
                    }
                }
            }
        }
    }
}