
// C O L O R S
//$old-primary: #7700FF;
$primary: #6400D6;
$primary-hover: #8E2BFF;
$secondary: rgb(39, 37, 37);

// F O N T S
$primary-font: 'Raleway', sans-serif;
$logo-font: 'Fredoka One', cursive;