

<h1>Home</h1>

<div id="side-nav">
    <section>
        <h3>Men</h3>
        <hr/>
        <ul>
            <li>Tshirts</li>
            <li>Longsleeve</li>
            <li>Tanktop</li>
        </ul>
    </section>
    <section>
        <h3>Woman</h3>
        <hr/>
        <ul>
            <li>Tshirts</li>
            <li>Longsleeve</li>
            <li>Tanktop</li>
        </ul>
    </section>
    <section>
        <h3>Children</h3>
        <hr/>
        <ul>
            <li>Tshirts</li>
            <li>Longsleeve</li>
            <li>Tanktop</li>
        </ul>
    </section>
    <section>
        <h3>Accessories</h3>
        <hr/>
        <ul>
            <li>Hats/Beenies</li>
        </ul>
    </section>
</div>

<div id="product-list">
    <ul *ngIf="users">
        <li *ngFor="let user of users.data">
            <img [src]="user.avatar" />
            <p>{{ user.first_name}} {{user.last_name}}</p>
        </li>
    </ul>
</div>